@model IEnumerable<GBC_Travel_Group_76.Models.Flight>

<h1>Flights</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Airline</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>DepertureDateTime</th>
            <th>ArrivalDateTime</th>            
            <th>Price</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var Flight in Model)
        {
            <tr>
                <td>@Flight.Id</td>
                <td>@Flight.Airline</td>
                <td>@Flight.Origin</td>
                <td>@Flight.Destination</td>
                <td>@Flight.DepartureDateTime</td>
                <td>@Flight.ArrivalDateTime</td>
                <td>@Flight.Passengers</td>
                <td>@Flight.SeatNumber</td>
                <td>@Flight.Price</td>
                <td>
                    <a asp-action="Details" asp-route-id="@Flight.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@Flight.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Flight.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Flight" asp-action="Create" class="btn btn-primary">Create</a>
</p>