@model IEnumerable<GBC_Travel_Group_76.Models.CarRent>
@{
    ViewData["Title"] = "Car Rental Page";
}

<h1>Booking List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Customer Name</th>
            <th>Car Model</th>
            <th>Booking Date</th>            
        </tr>    
    <tbody>
        @foreach (var CarRent in Model)
        {
            <tr>
                <td>@CarRent.Model</td>
                <td>@CarRent.PickUpLocation</td>
                <td>@CarRent.Price</td>
                <td>
                    <a asp-action="Details" asp-route-id="@CarRent.Model">Details</a> |
                    <a asp-action="Edit" asp-route-id="@CarRent.PickUpLocation">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@CarRent.DropOffLocation">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">New Car Booked</a>
